 /* Predefined fonts and link */
 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

 :root{
    --variable-width: 0;
}
 
*,
body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body{
    display: none;
} */

/* Header */
header{
    background: #142725;
    height: 80%;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    align-items: stretch;
    border:1px solid #3BA361 ;
}

.logo-div{
    padding: 0 1rem;
    align-self: center;
}


.logo-div img{
    width: 100%;
}

.donate-header{
    padding: 0.5rem;
}

.donation-progress-div{
    position: relative;
    margin-left:3rem ;
    width: 100%;
    height: 18vh;
    background-color: #ABD0B8;
    font-family: "Archivo Medium";
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0;
}

.progress-bar {
    width: var(--variable-width);
    height: 18vh;
    background: #3BA361;
    position :relative;
    -webkit-animation: bar-move 5s normal ; /* Safari 4.0 - 8.0 */
    animation: bar-move 5s normal;
    z-index: 2;
    
}

.completed{
    padding: 0.5rem;
}

.completed h3{
    color: #ABD0B8;
}

.uncompleted h3{
    color: #3BA361;
}

.completed h3,
.completed p{
    text-align: left;
}

.uncompleted{
  position: relative;
  top: -90%;
  right: 3%;
}

.uncompleted h3,
.uncompleted p{
    text-align: right;
}



.btn{
    width: 100%;
    font-family: "Archivo Medium";
    font-size: 40px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: center;
    transition: 0.3s;
}


.btn .Line{
    width: 10%;
    fill: #3BA361;
    transition: 0.3s;
    transform: translateX(-15px);
}

.btn:hover .Line{
    width: 10%;
    fill: #142725;
    transform: translateX(0px);
}

.btn:hover .top-line{
    stroke-width: 0;
    transition: 0.3s;
}


.donate-btn{
    display: none;
    background-color: #142725;
    padding: 2rem 2rem 0.3rem 2rem;
    color: #3BA361;
    background-color: #142725;
    font-size: 35px;
    line-height: 30px;
    text-decoration: none;
    border:1px solid #3BA361;
    transition: 0.4s;
}

.donate-btn:hover{
    color: #142725;
    background-color:  #3BA361;
}

.intro-text-div{
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
}

.intro-text{
    color: #ABD0B8;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 70px;
    font-family: 'Abril Fatface', cursive;
}

.type-txt>.txt{
    border-right: 0.2rem solid #777;
    color: #3BA361;
}

.socials{
    padding: 1.1rem 1rem;
    list-style: none;
}

.socials-sidebar{
    position: fixed;
    top: 230px;
    z-index: 10;
    border: 1px solid #3BA361;
    border-left: none;
}


.socials-sidebar .social-link > img{
    cursor: pointer;
    margin: 0.2rem 0;
}




/* Food Bank */




.food-bank{
    
    background-color: #fff;
    width:100%;
}

.food-bank > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: auto;
}

.floating-element{
    display: block;
    padding: 2rem ;
    margin: 1rem;
    background-color: #ABD0B8;
    width: 100%;
    max-width: 670px;
    color: #3BA361;
    font-family: "Abril Fatface";
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 50px;

}

#food-bank-img{
    width: 100%;
    max-width: 615px;
    margin: 1rem;
}

.food-bank .donate-btn{
    display: block;
    margin: 1rem;
    padding: 1.5rem;
}

.text-2{
    color: #3BA361;
    font-family: "Abril Fatface";
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    margin: 4rem 0;
    padding: 1rem;
}





/* Mini Gallery */





.mini-gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0 0rem;
}

.mini-gallery img{
    width: 100%;
}

#img-4{
    display: none;
} 




/* Help Section */




.help-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: #142725;
    margin-top: -1.3rem;
    width: 100%;
}

#help-text {
    display: block;
    width: 100%;
    color: #3BA361;
    font-family: "Abril Fatface";
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 80px;
    padding: 5rem;
    padding-top:7rem ;
    margin: 4rem auto;
}

.help-section .floating-element{
    right: 0;
    bottom: 0;
    background-color: #fff;
    margin: 0;
}

.food-scope{
    border: 1px solid #979797;
    padding-bottom: 3rem;
}

.food-scope > p{
    font-family: "Abril Fatface";
    font-size: 35px;
    margin: 0.5rem 0;
    width: 95%;
    letter-spacing: 0.8px;
    line-height: 46px;
}

.food-scope span{
    color: #000;
}

.donations{
    display: flex;
    flex-direction: column;
    width: auto;
}

.food-scope-donation-progress{
    width: 100% !important;
    margin-left: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: right;
    position: relative;
    background: #00800052;
    margin: 2rem 0;
}


.food-scope-donation-progress p{
    font-size: 25px;
    position: relative;
    right: 20px;
    color: #000;
    padding: 0.5rem 0;
    letter-spacing: 0.8px;
    line-height: 26px;
}


.food-scope-donation-progress .progress-bar{
    width: var(--variable-width);
}

.food-scope-donation-progress .completed{
    padding-top: 1rem;
}

.food-scope-donation-progress .uncompleted{
    position: relative;
    left: 68%;
    top: -90px;
    width: fit-content;
}

.food-scope-donation-progress h3{
    margin-right: 1rem;
}


.donations .donate-btn{
    width: 80%;
    margin: auto;
    padding: 2rem;
}




/* Prevention tips */




.prevention-tips{
    
    background-color: #fff;
    padding: 0 0 1rem 0;
}

.flyer-details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flyer{
    display: block;
    background-color: #3BA361;
    width: 100%;
    padding: 2rem;
}

.flyer img{
    width: 97%;
    max-width:660px;
    margin: 1.6rem 0.5rem;
}

.prevention-tips-text{
    margin: 2rem auto;
    padding: 2rem;
    width: 85%;
    justify-self: center;
    align-self: flex-start;
}

.prevention-tips-text h3{
    color: #3BA361;
    font-family: "Abril Fatface";
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 60px;
}

.prevention-tips-text p{
    color: #142725;
    font-family: "Archivo Medium";
    font-size: 24px;
    letter-spacing: 0.8px;
    line-height: 37px;
    margin: 3rem 0;
    padding: 3rem 0;
}

.download-flyer-btn{
    background-color: #142725;
    color: #3BA361;
    padding: 1rem;
    text-decoration: none;
    transition: 0.5s !important;
    border: 1px solid #142725;
    font-size: 25px;
}

.download-flyer-btn:hover{
    background-color: #3BA361;
    color: #142725;
}

.contact-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7rem auto 2rem auto;
    justify-content: space-evenly;
    align-content: center;
    background-color: #ABD0B8;
    color: #142725;

}

.paypal{
    padding: 2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.paypal h4{
    margin-bottom: 8rem;
    color: #3BA35D;
    font-family: "Archivo Medium";
    font-size: 40px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: center;
}

.click-to-donate-btn{
    background-color: #142725;
    padding: 3rem 2rem;
    margin-top: 3rem;
    color: #3BA361;
    font-family: "Archivo Medium";
    font-size: 23px;
    text-decoration: none;
    font-weight: 900;
    
}

.click-to-donate-btn:hover{
    color: #142725;
    background-color:  #3BA361;
   
}

.click-to-donate-btn svg{
    width: 15%;
    vertical-align: middle;
}

.contact-div-btn #Line-Copy{
    fill : #3BA361;
}

.contact-div-btn:hover #Line-Copy{
    fill : #142725;
}

.contact-div-btn #Rectangle{
    stroke : #3BA361;
}

.contact-div-btn:hover #Rectangle{
    stroke : #142725;
}

.contact-div-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


.paypal p{
    font-size: 25px;
    margin-top: 9rem;
    text-align: center;
}

.bacs-payment{
    border-top: 1px solid #3BA361;
    padding: 2rem;
    width: 100%;
}

.bacs-payment-title{
    color: #3BA35D;
    font-family: "Archivo Medium";
    font-size: 40px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: center;
}

.bacs-payment-body-1,
.bacs-payment-body-2{
    list-style: none;
    margin-top: 2rem;
    color: #142725;
    font-family: "Archivo Medium";
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 20px;
}

.bacs-payment-body-1 li{
    margin: 0.3rem 0;
    padding: 0.1rem;
    text-align: center;
}

.bacs-payment-body-2{
    margin-top: 2.3rem;
}

.bacs-payment-body-2 li{
    margin: 0.3rem 0;
    padding: 0.1rem;
    text-align: center;
}


/* Footer section */

footer{
    display: flex;
    flex-direction: column;
    background-color: #142725;
    padding: 6rem 0 0 0;
}

.stay-safe{
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.stay-safe img{
    width: 20%;
    margin: auto;
}

.stay-safe h3{
    font-family: "Abril Fatface";
    color: #3BA361;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 80px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.footer-list{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding: 2rem 0 0 0;
    list-style: none;
    margin-top: 4rem;
}

.footer-item{
    padding: 4.5rem;
    width: 100%;
    border: 1px solid #3BA361;
}

#logo-footer p{
    color: #FFFFFF;
    font-family: "Archivo Medium";
    font-size: 22px;
    letter-spacing: 0.8px;
    line-height: 35px;
    width: 100%;
    margin: 1.5rem auto;
    text-align: left;
}

#contact-footer h3{
    color: #3BA361;
    font-family: "Archivo Medium";
    font-size: 40px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: center;
}

.contact-numbers{
    list-style: none;
    margin: 2rem 0;
    color: #FFFFFF;
    font-family: "Archivo Medium";
    font-size: 25px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: center;
}

.contact-numbers li{
    margin: 1rem 0;
    width: 100%;
}


#address-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: center;
    padding: 0;
}

#address-footer h5{
    color: #3BA361;
    font-family: "Archivo Medium";
    font-size: 20px;
    letter-spacing: 1.33px;
    line-height: 43px;
    text-align: left;
}

#address-footer p{
    color: #fff;
    font-family: "Archivo Medium";
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: 30px;
    text-align: left;
    width: 100%;
}

#rc-number,
#reg-address{
    padding: 2rem;
    width: 100%;
}

#socials-footer{
    text-align: left;
}

.socials-footer {
    padding: 2rem;
    margin: 2rem 0;
}

.socials-footer li{
    display: inline-block;
    margin: 0 0.5rem;
}

#ui-ad{
    padding: 3rem 0;
    margin: 1.5rem 0;
    color: #3BA361;
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 20px;
}

#ui-ad a{
    color: #fff;
    text-decoration: none;
}

#scroll-up-btn{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 75px;
    background-color: #142725;
    border-radius: 100px;
    border: 1px solid #3BA361;
    height: 70px;
    width: 70px;
    border: 2px solid #3BA361;
    scroll-behavior: smooth;
}

#scroll-up-btn{
    cursor: pointer;
}

#scroll-up-btn img{
    transform: translateY(3px) rotate(180deg);
    margin: 0.7rem 1.292rem;
    height: 44px;
    width: 26px;
    transition: 0.3s;
}

#scroll-up-btn:hover img{ 
    transform: translateY(-7px) rotate(180deg);
}


@media(min-width:60rem){
    
    /* HEADER */
    header{
        background: #142725;
        
    }

    nav{
        display: flex;
        flex-direction: row;
        height: 188px;
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        border:1px solid #3BA361 ;
    }

    .logo-div{
        width: 50%;
        padding: 1rem;
        
        align-self: center;
    }

    .logo-div img{
        width: 75%;
        margin:1rem 2rem;
    }

    .donation_header{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
    }
    
    .donation-progress-div{
        width: 68%;
        height: 25.6vh;
        background-color: #ABD0B8;
        font-family: "Archivo Medium";
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        margin: 0;
    }

    .progress-bar {
        width: var(--variable-width);
        height: 25.6vh;
        background: #3BA361;
        position :relative;
        -webkit-animation: bar-move 5s normal ; /* Safari 4.0 - 8.0 */
        animation: bar-move 5s normal;
        z-index: 2;
        
    }
    
    .completed{
        padding: 1rem;
        padding-top:3rem ;
    }
    
    .completed h3{
        color: #ABD0B8;
        font-family: 'Archivo', sans-serif;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
    }
    
    .uncompleted h3{
        color: #3BA361;
        font-family: "Archivo Medium";
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
    }

    .completed p{
        color: #142725;
        font-family: "Archivo Medium";
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
    }

    .uncompleted p{
        color: #142725;
        font-family: "Archivo Medium";
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
    }
    
    .completed h3,
    .completed p{
        text-align: left;
    }
    
    .uncompleted{
      position: relative;
      text-align: left;
      margin-left: 77%;
      margin-top: 5%;
    }
    
    .uncompleted h3,
    .uncompleted p{
        text-align: left;
    }
    
    .btn{
        width: 40%;
    }
    
    .donate-btn{
        display: block;
        background-color: #142725;
        padding: 2.4rem 2rem;
        color: #3BA361;
        font-family: "Archivo Medium";
        font-size: 45px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: center;
        text-decoration: none;
        border:1px solid #3BA361;
        transition: 0.3s;
        width: 38%;
        margin-right: -2.8px;
    }

    nav .donate-btn{
        justify-self: left;
    }
    
    .intro-text-div{
        width: 62%;
        margin: 2rem auto;
        padding: 2rem;
        text-align: center;
    }
    
    .intro-text{
        color: #ABD0B8;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 75px;
    }

    .type-txt{
        display: block;
        height: 20vh;
    }

    
    .type-txt>.txt{
        border-right: 0.2rem solid #777;
    }
    
    .socials{
        padding: 1.1rem 1rem;
        list-style: none;
    }
    
    .socials-sidebar{
        position: fixed;
        top: 300px;
        width: 98px;
        border: 1px solid #3BA361;
        border-left: none;
    }

    
    .socials-sidebar .social-link > img{
        margin: 1rem;
        width:50%;
    }

    
    
}

@media(min-width:75rem){
    /* Food bank */
    .food-bank{
        height: 200vh;
        width: fit-content;
    }

    .food-bank > div{
        display: block;
        flex-direction: row;
    }

    .floating-element{
        display: block;
        position: relative;
        top: -70px;
        left: -5.8%;
        padding: 3rem;
        background-color: #ABD0B8;
        height: 100vh;
        width: 90%;
        max-height: 733px;
        max-width: 677px;
    }

    .floating-element .text-1{
        max-width: 500px;
        color: #3BA361;
        font-family: "Abril Fatface";
        font-size: 48px;
        letter-spacing: 1.6px;
        line-height: 65px;
    }
    
    #food-bank-img{
        position: relative;
        bottom: 950px;
        left: 48%;
        width: 100%;
        height: 100vh;
        max-height: 834px;
        max-width: 677px;
    }
    
    .food-bank .donate-btn{
        display: block;
        position: relative;
        bottom: 998px;
        left: -100px;
        padding: 3rem;
        width:45%;
    }
    
    .text-2{
        position: relative;
        bottom:800px ;
        color: #3BA361;
        font-family: "Abril Fatface";
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 60px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }


    /* Mini gallery */


    .mini-gallery{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        justify-items: stretch;
        align-items: center;
        padding: 0;
        width: 100%;
        
    }
    
    .mini-gallery img{
        width:auto;
        max-width: 514px;
    }
    
    #img-3{
        grid-row: 2;
    }
    
    #img-4{
        display: grid;
        grid-column-start: 3;
        grid-row-end: span 2;
    }




    /* Help Section */




    .help-section{
        display: flex;
        flex-direction: row;
        height: 180vh;
        margin-top: -1.3rem;
        width: 100%;
        
    }

    #help-text {
        align-self: flex-start;
        justify-self: center;
        width: 35%;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 80px;
        padding-top: 4rem;
        margin-top: 10rem;
    }

    .help-section .floating-element{
        position: relative;
        padding: 1rem 1.5rem 0.7rem 2rem;
        top: -250px;
        left: -60px;
        bottom: 0;
        height: 100%;
        max-height: 840px;
        max-width: 752px;
        border: 1px solid #979797;
        background-color: #fff;
    }


    .food-scope > p{
        margin: 0.5rem 0;
        padding: 2rem 1.5rem 3rem 3rem;
        width: 100%;
        height: 65%;
        color: #3BA361;
        font-family: "Abril Fatface";
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 70px;
    }

    .food-scope span{
        color: #000;
    }

    .donations{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 70%;
        top: 3700px;
        left: 200px;
        max-width: 1200px;
    }

    .food-scope-donation-progress{
        margin-left: 0;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 10px;
        position: relative;
        background-color: #ABD0B8;
        font-family: "Archivo Medium";
        width: 100%;
        height: 25vh;
        max-height: 167px;
        max-width: 990px;
        vertical-align: baseline;
    }

    .food-scope-donation-progress .progress-bar {
        width: var(--variable-width);
        max-height: 167px;
        max-width: 700px;
        background: #3BA361;
        position :relative;
        -webkit-animation: bar-move 5s normal ; /* Safari 4.0 - 8.0 */
        animation: bar-move 5s normal;
        z-index: 2;
    }

    .food-scope-donation-progress .completed{
        padding: 1.2rem 2rem;
        text-align: left;
    }

    .food-scope-donation-progress .uncompleted{
        position: relative;
        text-align: left;
        top: -110%;
        left: -10px;
    }  

    .food-scope-donation-progress h3{
        text-align: left;
    }


    .food-scope-donation-progress p{
        position: relative;
        right: 20px;
        padding:0.2rem 1rem;
        font-family: "Archivo Medium";
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
    }

    .donations .donate-btn{
        width: 60%;
        padding: 3rem;
    }


    /* Prevention tips */




    .prevention-tips{
        background-color: #fff;
        width: 100%;
        
    }
    .flyer-details{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .flyer{
        position: relative;
        display: block;
        top: -100px;
        left: 60px;
        background-color: #3BA361;
        width: 50%;
        max-height: 778px;
        max-width: 677px;
        padding: 2rem;
    }

    .flyer img{
        width: 97%;
        max-width:660px;
        height: 600px;
        margin: 1.6rem 0.5rem;
    }

    .prevention-tips-text{
        position: relative;
        padding: 2rem;
        padding-left:0 ;
        width: 40%;
        justify-self: center;
        align-self: flex-start;
    }

    .prevention-tips-text h3{
        color: #3BA361;
        font-family: "Abril Fatface";
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 80px;
    }

    .prevention-tips-text p{
        color: #142725;
        font-family: "Archivo Medium";
        font-size: 24px;
        letter-spacing: 0.8px;
        line-height: 37px;
    }

    .download-flyer-btn{
        position: relative;
        top: 90px;
        right: 100px;
        width: 80%;
        background-color: #142725;
        color: #3BA361;
        padding: 3rem 4rem;
        font-family: "Archivo Medium";
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: center;
        text-decoration: none;
        transition: 0.5s !important;
        border: 1px solid #142725;
    }

    

    .contact-div{
        display: flex;
        position: relative;
        bottom: -80px;
        flex-direction: row;
        width: 90%;
        height: 100%;
        margin: 15rem auto 2rem auto;
        justify-content: space-evenly;
        align-content: center;
        background-color: #ABD0B8;
        color: #142725;
        font-family: 'Archivo', sans-serif;
        max-height: 600px;
        max-width: 1678px;
    }

    .paypal{
        padding: 3rem;
        width: 50%;
    }

    .paypal h4{
        margin-bottom: 4rem;
        margin-top: -2.5rem;
        color: #3BA35D;
        font-family: 'Archivo', sans-serif;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: left;
        display: block;
    }

    .click-to-donate-btn{
        background-color: #142725;
        padding: 2rem;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        width: fit-content;
    }

    .click-to-donate-btn:hover{
        color: #142725;
        background-color:  #3BA361;
    }

    .click-to-donate-btn svg{
        width: 18%;
        display: inline-block;
        vertical-align: middle;
    }

    .contact-div-btn #Line-Copy{
        fill : #3BA361;
    }

    .contact-div-btn:hover #Line-Copy{
        fill : #142725;
    }

    .contact-div-btn #Rectangle{
        stroke : #3BA361;
    }

    .contact-div-btn:hover #Rectangle{
        stroke : #142725;
    }

    .contact-div-btn:hover{
        transform: scale(1.03);
        transition: 0.3s;
    }


    .paypal p{
        font-size: 25px;
        margin-top: 9rem;
        text-align: left;
    }

    .bacs-payment{
        border: none;
        border-left: 1px solid #3BA361;
        padding: 3rem 6rem;
        width: 50%;
    }

    .bacs-payment-title{
        color: #3BA35D;
        font-family: 'Archivo', sans-serif;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: left;
    }

    .bacs-payment-body-1,
    .bacs-payment-body-2{
        list-style: none;
        margin-top: 1.5rem;
        color: #142725;
        font-family: 'Archivo', sans-serif;
        font-size: 36px;
        letter-spacing: 1.2px;
        line-height: 40px;
    }

    .bacs-payment-body-1 li{
        margin: 0.2rem 0;
        padding: 0.1rem;
        text-align: left;
    }

    .bacs-payment-body-2{
        margin-top: 2rem;
    }

    .bacs-payment-body-2 li{
        margin: 0.2rem 0;
        padding: 0.1rem;
        text-align: left;
    }

    /* Footer section */

    footer{
        display: flex;
        flex-direction: column;
        background-color: #142725;
        padding: 10rem 0 0 0;
    }

    .stay-safe{
        margin: auto;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .stay-safe img{
        width: 30%;
    }

    .stay-safe h3{
        font-family: "Abril Fatface";
        color: #3BA361;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 80px;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .footer-list{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        font-family: 'Archivo', sans-serif;
        padding: 2rem 0 0 0;
        list-style: none;
        margin-top: 4rem;
    }

    .footer-item{
        padding: 4rem;
        width: 100%;
        border: 1px solid #3BA361 !important;
    }

    #logo-footer {
        margin: auto;
        padding: 4.2rem;
    }

    #logo-footer p{
        color: #FFFFFF;
        font-size: 24px;
        letter-spacing: 0.8px;
        line-height: 35px;
        margin: 1.5rem auto;
        text-align: left;
        width: 50%;
    }

    #contact-footer h3{
        color: #3BA361;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: left;
    }

    .contact-numbers{
        list-style: none;
        margin: 2rem 0;
        color: #FFFFFF;
        font-size: 40px;
        letter-spacing: 1.33px;
        line-height: 43px;
        text-align: left;
    }

    .contact-numbers li{
        margin: 1rem 0;
    }


    #address-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center ;
        justify-content: center;
        padding: 0;
        font-family: "Archivo";
        font-size: 16px;
        letter-spacing: 0.6px;
        line-height: 25px;
    }

    #address-footer h5{
        color: #3BA361;
        text-align: left;
    }

    #address-footer p{
        color: #fff;
        text-align: left;
        width: 90%;
    }

    #rc-number,
    #reg-address{
        padding: 1rem;
        width: 35%;
    }

    #socials-footer{
        text-align: left;
    }

    .socials-footer {
        padding: 2rem 0;
        margin: 2rem 0;
    }

    .socials-footer li{
        display: inline-block;
        margin: 0 0.5rem;
    }
    .socials-footer .social-link > img{
        width:120%;
    }
    #scroll-up-btn{
        display: none;
        position: fixed;
        bottom: 50px;
        right: 100px;
        background-color: #142725;
        border-radius: 100px;
        border: 1px solid #3BA361;
        height: 70px;
        width: 70px;
        border: 2px solid #3BA361;
        scroll-behavior: smooth;
    }
        
}


@keyframes bar-move {
    0%   {width: 0%;}
    50%  {width: 100%;}
    100% {width: var(--variable-width);}
}